# Ignore node_modules
/node_modules/

# Ignore local storage
/localstorage/

# Ignore VS Code settings
/.vscode/

# Ignore log files
*.log

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment settings
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore macOS system files
.DS_Store

# Ignore npm debug log files
npm-debug.log*

